@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lobster);

/* general text formatting */

h1, h2, h3, nav, footer {
 font-family: Lobster, Cambria, "Times New Roman", serif;
}

body {
   font-family: "Open Sans", Verdana, Arial, sans-serif;
   font-size: 100%;
   background-color: #E8EAF6;
}


/* header and navigation */

header, footer {
  color: white;
  background-color: #1A237E;
  margin: 0em 4em 0.25em 4em;
}
header h1 { 
  padding: 0.5rem 0 0 1.25rem;
  font-size: 2rem;
  font-weight: bold;
}
header p { 
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1rem;
  padding: 0 0 0 1.25rem;
}


/* main article styling */
main {
   background-color: white;
   margin: 1em 4em 1em 4em;
   padding: 1em;
}

section {
   margin-bottom: 1em;
   padding: 0;
   width: 100%;
}


legend { 
  font-size: 1.35rem;
  background-color: #7986CB;
  height: 1.70rem;
  color: #E8EAF6;
  text-transform: uppercase;
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

fieldset {
   margin: 0;
   padding: 0;
   background-color: #C5CAE9;
   width: 100%;
   border: none;
}
form p {
   margin-top: 0.5em;
   margin-left: 1em;
   margin-right: 2em;
}
input[type="submit"], input[type="reset"] {
   background-color: #E91E63;
   color: white;
   font-size: 1rem;
   font-weight: bold;
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 0.25rem;
   margin: 0.5rem 0;
}

table {
   width: 100%;
}

#titleBox {
   width: 100%;
}

#descriptionBox {
   width: 100%;
}

.sideBoxes {
   /* put a border on right each element */
   border: 1px solid #534e4e;
   padding: 0.5em;
   margin: 0.5em;
}

.separator {
   background-color: #9FA8DA;
   padding: 1em;
}


