/* general text formatting */

body {
  font-family: "Roboto", Verdana, Arial, sans-serif;
  font-size: 100%;
  background-color: #eceff1;
}

section {
  background-color: white;
  margin: 1em 4em 1em 4em;
  border: solid 1pt black;
}
section h3 {
  color: white;
  padding: 0.75rem;
  background-color: #263238;
}

.status {
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
}
.status-processing {
  background-color: #e65100;
}
.status-shipped {
  background-color: #4caf50;
}
.status-pending {
  background-color: #03a9f4;
}

/* table formatting */
table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
  text-align: left;
  margin: 1rem 0;
}

table caption {
  background-color: #607d8b;
  color: white;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

/* form formatting */
form {
  margin: 2rem;
}

form p {
  margin: 1rem;
}

legend {
  background-color: #607d8b;
  color: white;
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 50%;
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #673ab7;
  color: white;
  border-style: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 1rem;
}

input[type="submit"]:hover {
  background-color: #6200ea;
}
